
# Debug
# Dependencies
# Local env files
# Misc
# Next.js
# Production
# Testing
# TypeScript
# Vercel
*.pem
*.tsbuildinfo
.DS_Store
.env
.env*.local
.env.development
.env.preview
.env.production
.env.test
.pnp.js
.vercel
.yarn/install-state.gz
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
